.NewMember {
    margin: 50px;
}

.newMemberButtonSection {
    text-align: center;
}

.newMemberButton {
    background-color: #919192 !important;
    border: 2px solid #919192 !important;
    border-radius: 4px;
    vertical-align: middle;
    width: 90px;
    height: 40px;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    color: #FFFF;
}

.newMemberButton:disabled {
    background-color: #F2F3F4 !important;
    border: 2px solid #F2F3F4 !important;
    border-radius: 4px;
    vertical-align: middle;
    width: 90px;
    height: 40px;
    padding: 0;
    cursor: not-allowed;
}

.newMemberOccupationSelectedList {
    margin: 20px auto;
}
